<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongxue.client" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".Base.LearnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login.IndexActivity"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- .Login.IndexActivity -->

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/transparent" >
        </activity>
        <activity
            android:name=".Login.RegisterActivity"
            android:theme="@style/transparent" >
        </activity>
        <activity android:name=".Login.FindPwdActivity" >
        </activity>
        <activity android:name=".Main.MainActivity" >
        </activity>
        <activity
            android:name=".Group.GroupChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Create.AuthActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Create.KindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Create.InfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Search.SearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Search.SInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.Search.SKindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Discuss.WhiteBoardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Group.GroupVerifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.GroupMemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group.GroupMemInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Blog.BlogEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Blog.BlogInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Qa.QaEditBActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Qa.QaEditDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Qa.QaInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Me.MeBlogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Me.MeQaActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name="com.avos.avoscloud.PushService" />

        <activity android:name="com.avoscloud.leanchatlib.activity.ImageBrowserActivity" />
        <activity android:name=".Test.VideoView" >
        </activity>
    </application>

</manifest>
